# Force the assets.cpp file to be treated as C++ code.
# It contains raw embedded font data that breaks automatic language detection.
src/core/assets.cpp linguist-language=C++ linguist-vendored

# Ignore all Python files
*.py linguist-vendored
